.page-content {
    text-align: center;
}

.profile-sec:first-of-type{
    max-width:900px;
    margin: 0 auto 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-wrap{
    display: flex;
    align-items: center;
}

.img-area {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.flex-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-name{
    font-size: 36px;
    font-weight: 700;
    border:none;
    outline: none;
    margin-left: 80px;
    margin-bottom: 15px;
}

.evaluations-area{
    margin-left: 50px;
}

.star{
    width:40px;
    height: 40px;
}

.star.active{
    filter: invert(10%) sepia(100%) saturate(325%) hue-rotate(351deg) brightness(103%) contrast(105%);
}

.update-btn {
    background-color: #fff;
    border: 2px solid #FF5555;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 700;
    color: #FF5555;
    text-align: center;
    width: 310px;
    margin-left: 50px;
    padding: 10px 0;
    cursor: pointer;
}

.content-header {
    width: 100%;
    position: relative;
    padding: 0 10% 10px;
    display: flex;
}

.content-header::after {
    display: block;
    content: '';
    width: 100vw;
    height: 2px;
    background-color: #5F5F5F;
    position: absolute;
    bottom: 0;
    left: 0;
}

.tab-txt {
    margin-right: 60px;
    border: none;
    background: none;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
    color: #5F5F5F;
    line-height: 26px;
    cursor: pointer;
}

.tab-txt:last-of-type {
    margin-right: unset;
}

input[type=radio]:checked + .tab-txt{
    color:#FF0000;
}

.notice{
    display: inline-block;
    width: 27px;
    height: 26px;
    border-radius: 10px;
    background-color: #FF0000;
    color: #fff;
}

.item-list {
    max-width: 1400px;
    padding: 0 5%;
    margin: 50px auto 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5%;
    row-gap: 70px;
}

.item-img-wrap {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
}

.item-img {
    border-radius: 4px;
    object-fit: contain;
}

.item-notice {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-top: 3px;
    border-radius: 50%;
    background-color: #FF0000;
    font-size: 10px;
    color: #fff;
}

.item-name {
    font-size: 25px;
    color: #000;
    text-align: left;
}

@media screen and (max-width: 850px) {
    .profile-sec:first-of-type{
        flex-direction: column;
    }

    .input-name{
        font-size: 34px;
    }

    .update-btn{
        margin-left: 0;
        margin-top: 50px;
        font-size: 24px;
    }

    .item-list {
        grid-template-columns: repeat(2, 1fr);
    }
}